.LoaderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoaderRotation {
    animation: rotateLoader 2s linear infinite;
}

@keyframes rotateLoader {
    to {
        transform: rotate(360deg);
    }    
}