body {
  margin: 0;
}

h3 {
    font-family: Karla;
    font-size: 18px;
    color: rgba(33, 33, 33, 1);
}

span {
  font-family: Roboto;
}

@font-face {
  font-family: Karla;
  src: url(../static/fonts/Karla-Bold.woff2);
}

@font-face {
  font-family: Roboto;
  src: url(../static/fonts/Roboto-Regular.ttf);
}
